---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    
    <section>
        <header>
            <h1>{{ site }}</h1>
            <nav>
                {% unless page.url == '/' %}
                <a href="/">Home</a>
                {% endunless %}
                {% unless page.url == '/about/' %}
                <a href="/about">About Us</a>
                {% endunless %}
                {% unless page.url == '/dog/' %}
                <a href="/dog">Dogs Only</a>
                {% endunless %}
                {% unless page.url == '/cat/' %}
                <a href="/cat">Cats Only</a>
                {% endunless %}
                {% unless page.url == '/other/' %}
                <a href="/other">No Dogs or Cats</a>
                {% endunless %}
            </nav>
            {{ content }}
        </header>
    </section>

    <section>
        {% if page.url != '/about/' %}
        <style>
            body {
                background-color: {{ color_keyword }};
            }
        </style>
        <ul>
            {% for photo in collections.photos %}
            <section>
                {% if page.url != photo.url %}
                <li>
                    <a href="{{ photo.url }}">
                        {{ photo.data.ai_description }} - 
                        {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }} 
                    </a>
                </li>
                {% endif %}
            </section>
            {% endfor %}
        </ul>
        {% endif %}
    </section>

    <section>
        <footer>
            <p>Author: Christopher Weichlein<br>
            <a href="cweichlein@csu.fullerton.edu">cweichlein@csu.fullerton.edu</a></p>
            <p>Author: Manuel Perez<br>
            <a href="mperez5891@csu.fullerton.edu">mperez5891@csu.fullerton.edu</a></p>
            <p>Author: Mohammad Usman Qazi<br>
            <a href="usmanqazi@csu.fullerton.edu">usmanqazi@csu.fullerton.edu</a></p>
            <p>Author: Nolan O'donnell<br>
            <a href="nolan794@csu.fullerton.edu">nolan794@csu.fullerton.edu</a></p>
        </footer>
    </section>
    
</body>
