---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    
    <section>
        <header>
            <h1>{{ site }}</h1>
            <nav>
                {% unless page.url == '/' %}
                <a href="/">Home</a>
                {% endunless %}
                {% unless page.url == '/dog/' %}
                <a href="/dog">Dogs Only</a>
                {% endunless %}
                {% unless page.url == '/cat/' %}
                <a href="/cat">Cats Only</a>
                {% endunless %}
                {% unless page.url == '/other/' %}
                <a href="/other">No Dogs or Cats</a>
                {% endunless %}
                {% unless page.url == '/about/' %}
                <a href="/about">About Us</a>
                {% endunless %}
            </nav>
            {{ content }}
            {% if page.url contains '/photos/' %}
            <section>
                <h2>Photo Information:</h2>
                <ul>
                    {% if exif_camera_make != '' %}
                    <li><p>Camera Make: {{ exif_camera_make }}</p></li>
                    {% else %}
                    <li><p> Camera Make: Unknown </p></li>
                    {% endif %}

                    {% if exif_camera_model != '' %}
                    <li><p>Camera Model: {{ exif_camera_model }}</p></li>
                    {% else %}
                    <li><p>Camera Model: Unknown</p></li>
                    {% endif %}

                    {% if photo_location_city != '' %}
                    <li><p>City: {{ photo_location_city }}</p></li>
                    {% else %}
                    <li><p>City: Unknown</p></li>
                    {% endif %}

                    {% if photo_location_city != '' %}
                    <li><p>Country: {{ photo_location_country }}</p></li>
                    {% else %}
                    <li><p>Country: Unknown</p></li>
                    {% endif %}

                </ul>
            </section>
            {% endif %}
        </header>
    </section>

    <section>
        {% if page.url != '/about/' %}
        <style>
            body {
                background-color: {{ color_keyword }};
            }
        </style>
        {% endif %}
        {% if page.url == '/' %}
        <ul>
            {% for photo in collections.photos %}
            <section>
                <li>
                    <a href="{{ photo.url }}">
                        {{ photo.data.ai_description }} - 
                        {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }} 
                    </a>
                </li>
            </section>
            {% endfor %}
        </ul>
        {% elsif photo_keyword == 'dog' or title == 'Dogs' %}
        <ul>
            {% for dog in collections.dogs %}
            <section>
                <li>
                    <a href="{{ dog.url }}">
                        {{ dog.data.ai_description }} - 
                        {{ dog.data.photographer_first_name}} {{ dog.data.photographer_last_name }} 
                    </a>
                </li>
            </section>              
            {% endfor %}
        </ul>
        {% elsif photo_keyword == 'cat' or title == 'Cats' %}
        <ul>
            {% for cat in collections.cats %}
            <section>
                <li>
                    <a href="{{ cat.url }}">
                        {{ cat.data.ai_description }} - 
                        {{ cat.data.photographer_first_name}} {{ cat.data.photographer_last_name }} 
                    </a>
                </li>
            </section>              
            {% endfor %}
        </ul>
        {% elsif page.url != '/about/' %}
        <ul>
            {% for other in collections.others %}   
            <section>
                <li>
                    <a href="{{ other.url }}">
                        {{ other.data.ai_description }} - 
                        {{ other.data.photographer_first_name}} {{ other.data.photographer_last_name }}
                    </a>
                </li>
            </section>            
            {% endfor %}
        </ul>
        {% endif %}
    </section>

    <section>
        <footer>
            <p>Author: Christopher Weichlein<br>
            <a href="cweichlein@csu.fullerton.edu">cweichlein@csu.fullerton.edu</a></p>
            <p>Author: Manuel Perez<br>
            <a href="mperez5891@csu.fullerton.edu">mperez5891@csu.fullerton.edu</a></p>
            <p>Author: Mohammad Usman Qazi<br>
            <a href="usmanqazi@csu.fullerton.edu">usmanqazi@csu.fullerton.edu</a></p>
            <p>Author: Nolan O'donnell<br>
            <a href="nolan794@csu.fullerton.edu">nolan794@csu.fullerton.edu</a></p>
        </footer>
    </section>
    
</body>