---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    
    <header>
        <h1>{{ site }}</h1>
        <nav>
            <!-- <ul> -->
                {% unless page.url == '/' %}
                <a href="/">Home</a>
                {% endunless %}
                {% unless page.url == '/about/' %}
                <a href="/about">About Us</a>
                {% endunless %}
                {% unless page.url == '/dog/' %}
                <a href="/dog">Dogs</a>
                {% endunless %}
                {% unless page.url == '/cat/' %}
                <a href="/cat">Cats</a>
                {% endunless %}
                {% unless page.url == '/other/' %}
                <a href="/other">Other</a>
                {% endunless %}
                <!-- </ul> -->
            </nav>
        <h4>{{ content }}</h4>
    </header>

    {% if page.url != '/about/' %}
    <section>
        <ul>
            {% for photo in collections.photos %}
                {% if photo.data.photo_keyword == 'dog' and page.url == '/dog/' %}
                <p>This is a dog</p>
                {% endif %}
                <li>
                    <a href="{{ photo.url }}">
                        A {{ photo.data.photo_keyword }} photo
                        by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <section>
        <footer>
            <p>Author: Christopher Weichlein<br>
            <a href="mperez5891@csu.fullerton.edu">mperez5891@csu.fullerton.edu</a></p>
            <p>Author: Manuel Perez<br>
            <a href="mperez5891@csu.fullerton.edu">mperez5891@csu.fullerton.edu</a></p>
            <p>Author: Mohammad Usman Qazi<br>
            <a href="usmanqazi@csu.fullerton.edu">usmanqazi@csu.fullerton.edu</a></p>
            <p>Author: Nolan O'donnell<br>
            <a href="mperez5891@csu.fullerton.edu">mperez5891@csu.fullerton.edu</a></p>
        </footer>
    </section>
    
</body>
